@import "http://necolas.github.io/normalize.css/3.0.0/normalize.css";

/* row-x-col */
.row                            { overflow: hidden; }
.col                            { display: inline-block; float: left; box-sizing: border-box; }
.row-2-col .col                 { width: 50%; }
.row-2-col .col.w-2             { width: 100%; }
.row-3-col .col                 { width: 33.333%; }
.row-3-col .col.w-2             { width: 66.666%; }
.row-3-col .col.w-3             { width: 100%; }
.row-4-col .col                 { width: 25%; }
.row-4-col .col.w-2             { width: 50%; }
.row-4-col .col.w-3             { width: 75%; }
.row-4-col .col.w-4             { width: 100%; }
.row-5-col .col                 { width: 20%; }
.row-5-col .col.w-2             { width: 40%; }
.row-5-col .col.w-3             { width: 60%; }
.row-5-col .col.w-4             { width: 80%; }
.row-5-col .col.w-5             { width: 100%; }
.row-6-col .col                 { width: 16.666%; }
.row-6-col .col.w-2             { width: 33.333%; }
.row-6-col .col.w-3             { width: 49.999%; }
.row-6-col .col.w-4             { width: 66.666%; }
.row-6-col .col.w-5             { width: 83.333%; }
.row-6-col .col.w-6             { width: 100%; }

/* Centering */
.h-center                       { margin: 0 auto; }
.row.h-center                   { text-align: center; }
.row.h-center .col              { float: none; text-align: left; }

/* Group */
.group                          { display: table; border-radius: 3px; width: 100%; }
.group > *                      { display: table-cell; width: 1%; }
.group > * > *                  { width: 100%; }
.group > .w-all                 { width: 100%; }
.group.v-center > *             { vertical-align: middle; }
.group .top                     { vertical-align: top; }
.group .middle                  { vertical-align: middle; }
.group .bottom                  { vertical-align: bottom; }

/* Text helpers */
.text-left                      { text-align: left; }
.text-center                    { text-align: center; }
.text-right                     { text-align: right; }

/* Form */
button,
input,
textarea                        { padding: 0.2em 0.4em; box-sizing: border-box; }
input, textarea                 { border: 1px solid #c6c6c6; }

/* Buttons */
/* Basic button */
button                          { border: 1px solid #ededed; border-bottom-color: #d9d9d9; border-right-color: #c6c6c6; border-radius: 2px; }
button:hover                    { background: #f6f6f6; }

button                          {
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-8 */
}

button:active, 
button[disabled]                { border-left-color: #d9d9d9; border-top-color: #c6c6c6; border-bottom-color: #ededed; border-right-color: #ededed; 
background: #ededed; /* Old browsers */
background: -moz-linear-gradient(top,  #ededed 0%, #f6f6f6 53%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(53%,#f6f6f6), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ededed 0%,#f6f6f6 53%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ededed 0%,#f6f6f6 53%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ededed 0%,#f6f6f6 53%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ededed 0%,#f6f6f6 53%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}

button[disabled]                { color: #b3b3b3; }

/* Black button */
button.black:hover              { background: #141414; }
button.black                    { color: #b6b6b6; 
background: #545454; /* Old browsers */
background: -moz-linear-gradient(top,  #545454 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#545454), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #545454 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #545454 0%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #545454 0%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #545454 0%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

button.black:active, 
button.black[disabled] {
background: #000000; /* Old browsers */
background: -moz-linear-gradient(top,  #000000 0%, #545454 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#545454)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #000000 0%,#545454 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #000000 0%,#545454 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #000000 0%,#545454 100%); /* IE10+ */
background: linear-gradient(to bottom,  #000000 0%,#545454 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#545454',GradientType=0 ); /* IE6-9 */
}

/* Flat button */
button.flat                     { border-radius: 5px; background: #f6f6f6; border: 1px solid #ededed; border-bottom: 2px solid #CECECE; border-right: 2px solid #DBDBDB; }
button.flat:hover               { background: #efefef; }
button.flat:active,
button[disabled].flat           { background: #f6f6f6; border: 1px solid #ededed; border-top: 2px solid #CECECE; border-left: 2px solid #DBDBDB; }


/* Widths */
.w-920px                        { display: block; width: 920px; }

.w-5p                           { width: 5%; }
.w-10p                          { width: 10%; }
.w-20p                          { width: 20%; }
.w-25p                          { width: 25%; }
.w-30p                          { width: 30%; }
.w-33p                          { width: 33.333%; }
.w-40p                          { width: 40%; }
.w-50p                          { width: 50%; }
.w-60p                          { width: 60%; }
.w-70p                          { width: 70%; }
.w-80p                          { width: 80%; }
.w-90p                          { width: 90%; }
.w-100p                         { width: 100%; }