html, body                          { margin: 0; padding: 0; width: 100%; height: 100%; }



#app                                { min-height: 100%; padding: 0 240px; }
#contacts                           { position: fixed; left: 0; top: 0; bottom: 0; width: 220px; background-color: #f9f9f9; overflow-y: scroll; }
#feed                               { max-width: 520px; margin: 0 auto; }

.contact,
.post                               { position: relative; border-bottom: 1px solid #ccc; }
.picture                            { background-image: url(img/default-profile-pic.png); background-size: cover; }

.contact .picture,
.contact .info,
.post .content                      { display: inline-block; }

.contact .picture                   { position: absolute; left: 0; top: 0; bottom: 0; width: 3.4em; }
.contact .info                      { padding: 0.7em 0; line-height: 1em; padding-left: 3.8em; }
.contact .info .user-name           { color: #7b7b7b; }


.post                               { padding-bottom: 2em; margin-top: 2em; min-height: 3.4em; }
.post .time                         { position: absolute; left: -6ex; top: 0; color: #ccc; }
.post .picture                      { position: absolute; left: 0; top: 0; width: 3.4em; height: 3.4em; border: 1px solid #ccc; }
.post .content                      { margin-left: 3.8em; }
.post .media                        { width: 100%; height: auto; margin-top: 1em; }